<div class="letter">
  <div class="words line1">Para: Jhasury Bejarano</div>
  <br>
  <div class="words line2">Wenas Jhasury xd </div>
  <div>Últimamente he sentido que algo cambió entre nosotros, y sinceramente, no quiero presionarte, solo entenderte.</div>
  <div>Valoro mucho nuestra conexión y el tiempo que hemos compartido, y quiero que sepas que estaré aquí si quieres hablar o si hay algo en lo que pueda apoyarte.</div>
  <div>No busco una respuesta inmediata, solo quiero que sepas que me importas y que respeto tus tiempos y sentimientos xd</div>
  <div class="cat-img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGaZvWKzqztpi2mUgS6GCWiYpKvHtT0TV1q8I0-9avUmnIapri_ezVsQIcSc9nSSwJOmc&usqp=CAU" alt="gatomeme" width="300px">
  </div>
</div>
